<!DOCTYPE HTML>


<body>

<head>
<title>
Books Store
</title>
<center>
<h1>Books Store</h1>
<br>
Used Books
</center>
</head>
<h1>Sign up</h1>
<br>
<br>
<br>
<br>
{% for message in messages %}
{{message}}
<br>
{% endfor %}
<br>
<form method="POST" action="">
      Enter desired Username:
	  <br>
	  <input type="text" name="username" id="username">
	  <br>
	  (usernames must be between 4 and 20 characters in length)
	  <br>
      Enter Password:
	  <br>
	  <input type="password" name="password" id="password">
	  <br>
	  (passwords must be between 4 and 20 characters in length)
      <br>
	  <input type="submit" name="submit" value="signup">
</form>


</body>
</html>
